.formContainer{
    border-radius: var(--radius-base);
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    .formBg{
        
        padding: 0;
        margin: 0;
        img{
            border-bottom-left-radius:  var(--bs-border-radius);
            border-top-left-radius:  var(--bs-border-radius);
            height: 100%;
            width: 105%;
            object-fit: cover;
        }
    }
    
}
