.dropdown{
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--primary-color-400);
    &:focus{
        .menuOption{
            display: block;
        }
    }
    .selectContent{
        position: relative;
        width: 100%;
        padding:8px 16px;
        display: flex;
        align-items: center;
        .content{
            flex: 1;
        }
    }
    .menuOption{
        margin-top: 10px;
        position: absolute;
        background-color: white;
        width: 100%;
        border-radius: 0.34rem;
        border:1px solid black;
        .option{
            width: 100%;
            padding:8px 16px;
            height: fit-content;
            &:hover{
                background-color: var(--primary-color-200);
            }
            &:first-child{
                border-top-right-radius: 0.34rem;
                border-top-left-radius: 0.35rem;
            }
            &:last-child{
                border-bottom-right-radius: 0.34rem;
                border-bottom-left-radius: 0.35rem;
            }
        }
    }
    
}