.card{
    border:none !important;
    background-color: white !important;
    .productImage{
        aspect-ratio: 1/1;
        
    }
}
.productDetail{
    h5{
        color:rgb(255, 39, 39);
    }
}