

.productImage{
    aspect-ratio: 1/1;
    
}
.productDetail{
    .price{
        font-size: 1.5rem;
        color:rgb(255, 39, 39);
    }
    .price::after{
        content: "đ";
        font-size: smaller;
        margin-left: 4px;
    }
}