.dropdown{
    position: relative;
    &:hover>.menu{
        display: block;
    }
    >.menu{
        padding-top: 20px;
        width: 100%;
        position: absolute;
        top:100%;
        left: 0;
        display:none;
        .item{
            &:hover{
                background-color: var(--primary-color-200);
            }
        }
    }
}